/* Reset and basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-color: #fff; /* Set background color to white */
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Center navigation items */
}

nav ul li {
    margin: 0 1rem; /* Adjust horizontal spacing */
    position: relative; /* Enable position for dot */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: transform 0.3s;
}

/* Styling for Contact link */
nav .contact-me a {
    color: #fff; /* Set text color to white */
}

/* Dot indicator */
nav ul li::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust to position dot */
    left: 50%;
    transform: translateX(-50%);
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0; /* Hide dot by default */
    transition: opacity 0.3s;
}

/* Show dot when link is active */
nav ul li.active::after {
    opacity: 1;
}

main {
    padding: 2rem;
    margin-top: 100px; /* Adjust to the height of the header */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
